:root {
  --fs1: 50;
  --fs2: 50;
  --fs3: 20;
  --fs4: 50;
  --fs5: 50;
  --fs6: 50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
  color: rgb(218, 230, 242);
  user-select: none;
  -webkit-user-select: none;
  scroll-behavior: smooth;

}

body {
  margin: 0px;
  overflow: scroll;
  background: radial-gradient(circle, rgb(1, 27, 41), rgb(2, 2, 15));
}

#hero {
  width: 100%;
  height: 100vh;
  padding: 1.5% 2%;
}

#projectsContent {
  width: 100vw;
  min-height: 100vh;
  padding: 1.5% 2%;
}
#membersContent{
  width: 100vw;
  min-height: 100vh;
  padding: 1.5% 2%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0.5vw 1vw;
}

nav ul li a {
  text-decoration: none;
  font-size: var(--fs7);
  /* transition: all 0.5s ease-in; */
}

nav ul li a:hover {
  color: red;
}

.header-text {
  position: absolute;
  top: 35%;
  left: 4%;
  animation: floating 8s ease-in-out infinite;
}

@keyframes floating {
  0%,
  100% {
    transform: skewY(-0.3deg);
    scale: 1.02;
  }
  50% {
    transform: skewY(0.3deg);
    scale: 1;
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

.header-text h1 {
  animation: background-pan 15s linear infinite;
  background: linear-gradient(
    to right,
    rgb(197, 88, 207),
    rgb(141, 88, 209),
    rgb(222, 159, 82),
    rgb(197, 88, 207)
  );
  background-size: 200%;
  font-size: var(--fs3);
  font-weight: bolder;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.header-text p {
  margin: 10px 4px;
  font-size: var(--fs6);
  font-weight: 100;
}
.header-text h2 {
  margin: 30px 4px;
  font-size: var(--fs5);
}

canvas {
  margin: 0;
  padding: 0;
  filter: blur(2px);
}
::placeholder {
  color: white;
  opacity: 1;
  font-size: var(--fs7);
}

.searchbar {
  position: absolute;
  font-size: var(--fs7);
  color: white;
  background-color: rgb(2, 2, 15);
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px 8px;
  width: 100%;
  height: 100%;
}
.search {
  position: relative;
  width: var(--sp1);
  height: var(--sp2);
}
/* dropdown */

/* The dropdown container */


/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  font-size: var(--fs7);
  background-color: inherit;
  font-family: inherit; 
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
  color: rgb(218, 230, 242);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: inherit;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-size: var(--fs7);
  color: white;
  padding: 6px 6px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  text-decoration: none;
  background-color: #8b7b7b;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
