body {
  background-color: rgb(10, 1, 27);
  height: 100vh;
  margin: 0px;
}

.trailer {
  height: 8px;
  width: 8px;
  border-radius: 12px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 10000;
  pointer-events: none;

  filter: blur(0px);
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00ff,
      0 0 70px #ff00ff, 0 0 80px #ff00ff, 0 0 100px #ff00ff, 0 0 150px #ff00ff;
  }
  to {
    box-shadow: 0 0 15px #fff, 0 0 25px #fff, 0 0 35px #fff, 0 0 50px #ff00ff,
      0 0 90px #ff00ff, 0 0 100px #ff00ff, 0 0 120px #ff00ff, 0 0 170px #ff00ff;
  }
}
