body {
  background-color: rgb(2, 1, 19);
  height: 100vh;
  margin: 0px;
}

.trailer {
  height: 12px;
  width: 12px;
  border-radius: 12px;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 10000;
  pointer-events: none;
}
